* {
    font-family: 'Roboto', sans-serif;
}

input, button {
    height: 40px;
    margin: 10px;
    border-width: 1px;
    border-radius: 3px;
}

p {
    margin-left: 10px;
    font-size: 25px;
}
img {
    height: 60px;
    width: 60px;
}
